@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mouse+Memoirs&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "Public Sans", sans-serif;
}

@media screen and (max-width: 1280px) {
  #canvas_parent {
    width: 250px;
    height: 250px;
  }
  aside#scheme {
    width: 688px;
    height: 344px;
    gap: 50px;
    padding: 52px 32px 32px 60px;
  }
  main section.mt-9 {
    align-items: center;
    box-sizing: border-box;
  }
  #budgets_parent {
    width: 688px;
  }
  article[data-name="budget"]{
    width: 100%;
  }
  #progress_bar{
    width: 100%;
  }
  #cat_title{
    font-size: 14px;
  }
  div#spending_summary{
    /* padding-top: 10px; */
  }
  #summary_header{
    margin-bottom: 15px;
  }
  #category_box{
    width: 296px;
  }
#summary_line{
  margin-top: 12px;
}
#canvas_opacity{
  width: 184px;
  height: 184px;
}
#budget_box_parent{
  justify-content: space-between;
}
}
